body {
    font-family: sans-serif;
}
h2 {
    font-family: courier
}
section {
    background-color: pink;
}
.container > section:nth-child(2){
    background-color: firebrick;
}
.text {
    font-size: 2em;
}

h2[class^="header-"]{
    text-align: center;
}



